/* CSS Reset ============================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset END ==========================*/

body, html{
	background-color: white;
	height: 100%;
	width: 100%;
}

*{
	outline: none;
}

a{
	text-decoration: none;
	color: black;
}

.window{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	display: inline-block;
}

.title-area{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background: #65b5f0;

	background: -moz-linear-gradient(top,  #65b5f0 0%, #4ea6ed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65b5f0), color-stop(100%,#4ea6ed));
	background: -webkit-linear-gradient(top,  #65b5f0 0%,#4ea6ed 100%);
	background: -o-linear-gradient(top,  #65b5f0 0%,#4ea6ed 100%);
	background: -ms-linear-gradient(top,  #65b5f0 0%,#4ea6ed 100%);
	background: linear-gradient(to bottom,  #65b5f0 0%,#4ea6ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65b5f0', endColorstr='#4ea6ed',GradientType=0 );
}

.title-area label:hover{
	cursor: pointer;
}

.appTitle{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 150%;
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 1;
	color: black;
}

.details-window-top{
	background-color: #DEE3E9;
    padding: 10px;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    z-index: 2;
}

#date-label{
	font-family: 'Lato';
    font-size: 70%;
    padding: 5px 15px;
    color: gray;
}

#detail-title{
    font-family: 'Lato';
    font-size: 90%;
    font-weight: bold;
    line-height: 150%;
    position: relative;
}

.details-window-under{
	background-color: #DEE3E9;
    border-bottom: 1px solid #E3E3E3;
    padding: 10px;
    position: fixed;
    top: 90px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.details-window-under label{
	bottom: 3px;
    font-family: 'Lato';
    font-size: 90%;
    font-weight: bold;
    line-height: 150%;
    position: relative;
}

#detail-desc{
	font-family: 'Arial' !important;
    font-size: 80% !important;
    font-weight: normal !important;
}

.code{
    left: 0px;
    position: absolute;
    top: 200px;
    width: auto;
    z-index: 0;
    font-family: 'Droid Sans';
    font-size: 80%;
}

pre.prettyprint{
	border: none;
}

.prettyprint ol.linenums > li { list-style-type: decimal; position: relative; left: 35px;}

.main-label{
	margin: 0 auto;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 200%;
	display: block;
	position: relative;
	top: 100px;
}

.main-label:hover{
	cursor: pointer;
}

.wrap{
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

#message{
	color: #D3D3D3;
    font-family: 'Gloria Hallelujah',cursive;
    font-size: 300%;
    font-weight: bold;
    position: relative;
    top: 250px;
}